<link rel='stylesheet' href='../stylesheets/cardstyle.css' />
<div class='landing-top'>
	<p id='user-count'>{{userCount}} playing</p>
	{{#unless active}}
		<button id='start-game' class='secondary-btn'>Start</button>
	{{/unless}}
</div>
<div class='game'>
	<div id='game-room' class='game-room'>
		{{#if active}}
			<div id='p1' class='hand player-one'>
				{{#each playerCards.p1}}
					<div class='card backcard'></div>
				{{/each}}
			</div>
			<div id='p2' class='hand player-two'>
				{{#each playerCards.p2}}
					<div class='card backcard'></div>
				{{/each}}
			</div>
			<div id='p3' class='hand player-three'>
				{{#each playerCards.p3}}
					<div class='card backcard'></div>
				{{/each}}
			</div>
			<div id='user-cards' class='hand user'>
				{{#each playerCards.user}}
					<div id={{id}} class='card {{color}}-{{value}}'></div>
				{{/each}}
			</div>
			<div
				id='discarded-cards'
				class='discarded-cards discarded-cards__{{currColor}}'
			>
				<div id='discarded-cards_container' class='discarded-cards_container'>
					{{#each discardedCards}}
						<div
							id={{id}}
							class='card {{color}}-{{value}}'
							style='transform: rotate({{rotate}}deg)'
						></div>
					{{/each}}
				</div>
			</div>
			<div id='deck' class='card backcard'></div>
			{{#if isUserTurn}}
				<h1  id='your-turn'>Your turn</h1>
			{{/if}}
			{{#unless isCardPlayed}}
				<span id='end-turn'>End turn</span>
			{{/unless}}
		{{else}}
			<div id="game-lobby">
				{{#each players}}
					<div class='game-lobby_user'>
						<p class='game-lobby_user-username'>{{username}}</p>
					</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
		{{> chat}}
		{{!-- {{> chat}}
	<div class="game-chat"> 
	</div>
	<div class="toggle-chat">
		{{> chat}}

	</div> --}}
</div>