<link rel='stylesheet' href='../stylesheets/cardstyle.css' />
<div class='landing-top'>
	<p>{{userCount}} playing</p>
	{{#unless active}}
		<button id='start-game' class='secondary-btn'>Start</button>
	{{/unless}}
</div>
<div class='game'>
		<div class='game-room'>
			{{#if active}}
					<div class='hand player-one'>
						{{#each playerCards.p1}}
							<div class='card backcard'></div>
						{{/each}}
					</div>
					<div class='hand player-two'>
						{{#each playerCards.p2}}
							<div class='card backcard'></div>
						{{/each}}
					</div>
					<div class='hand player-three'>
						{{#each playerCards.p3}}
							<div class='card backcard'></div>
						{{/each}}
					</div>
					<div id="user-cards" class='hand user'>
						{{#each playerCards.user}}
							<div id={{id}} class='card {{color}}-{{value}}'></div>
						{{/each}}
					</div>
					<div class='discarded-cards'>
						<div class ='discarded-cards_container'>
						{{#each discardedCards}}
							<div id={{id}} class='card {{color}}-{{value}}' style="transform: rotate({{rotate}}deg)"></div>
						{{/each}}
						</div>
					</div>
					{{#if isUserTurn}}
						<h1>Your turn</h1>
					{{/if}}
			{{else}}
				{{#each players}}
					<div class="game-lobby_user">
						<p>uid: {{uid}}</p>
						<p>username: {{username}}</p>
						<p>ready: {{isReady}}</p>
					</div>
				{{/each}}
			{{/if}}
		</div>
	<div>
	</div>
	{{> chat}}
</div>
<script>
	const startBtn = document.getElementById('start-game');
	if (startBtn) {
		startBtn.addEventListener("click", async () => {
			await fetch('/game/{{{gameId}}}/start', { method: 'POST'}); 
		})
	}

	const userCards = document.getElementById('user-cards');
	if (userCards && {{isUserTurn}}) {
		for (card of userCards.children) {
			let cardId = card.id;
			card.addEventListener("click", async () => {
				const result = await fetch('/game/{{{gameId}}}/play/' + cardId, { method: 'POST'}); 
				const body = await result.json();
				console.log(body); 
			})
		}
	}
</script>